/*.navbar-default {*/
/*    background-color: #337ab7;*/
/*}*/


/*.navbar-default .navbar-nav > a {*/
/*    color: #fff;*/
/*    !*background-color: transparent;*!*/
/*}*/

/*.navbar-default .navbar-nav > .active > a {*/
/*    color: #fff;*/
/*    background-color: transparent;*/
/*    border-bottom: 3px solid #fff;*/

/*}*/

/*.navbar-default .navbar-nav > .active > a:hover {*/
/*    color: #fff;*/
/*    border-bottom: 3px solid #fff;*/
/*}*/



/**
    屏幕宽度大于 768
 */
@media screen and (min-width: 768px) {

    .navbar-brand {
        width: 240px;
        height: 120px;
    }

    .navbar-nav {
        margin-top: 40px;
    }
    .navbar-nav > li > a {
        padding: 10px 30px;
    }
}


/**
    屏幕宽度小于 768
 */
@media screen and (max-width: 768px) {

    .navbar-brand {
        width: 160px;
        height: 80px;
    }

    .navbar-toggle {
        margin-top: 20px;
    }
}



/*.navbar-nav > li > a {*/
/*    padding: 30px;*/
/*}*/
